<!DOCTYPE html>
<html>
<head>
  <title>Betengineapi</title>
  <%= stylesheet_link_tag    "betengineapi/application", media: "all" %>
  <%= javascript_include_tag "betengineapi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
